<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VideoRenderHermes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <VideoRenderHermes.Properties.Settings>
      <setting name="BlockTime" serializeAs="String">
        <value />
      </setting>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
    </VideoRenderHermes.Properties.Settings>
  </userSettings>
 
<connectionStrings><add name="VideoRentalHermesEntities" connectionString="metadata=res://*/ADOApp.VideoRenderModel.csdl|res://*/ADOApp.VideoRenderModel.ssdl|res://*/ADOApp.VideoRenderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=VideoRentalHermes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>